
div.container{
    margin: 40px auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px 4px rgb(19 35 47 / 30%);
    width: 80%; 
}

body{
    margin: 40px auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px 4px rgb(19 35 47 / 30%);
    width: 80%;
}
