<div class="padre">
<h1>Sobre El Comic</h1>
<div class="about">
  <p>
    Marvel y DC Comics se juntaron para crear el Universo Amalgama, que incluía
    combinaciones como la Princesa Ororo de Themiscyra (Wonder Woman y Storm),
    Dark Claw (Batman y Wolverine), Spider-Boy (Superboy y Spider-Man), Mister X
    (Martian Manhunter y Professor X) y Ra’s a-Pocalypse (Ra’s al Ghul y
    Apocalypse). El segundo evento crossover oficial tuvo lugar en 2003/2004 con
    La Liga de la Justicia / Vengadores de Kurt Busiek, lo que marcó la última
    vez que Marvel y DC Comics permitieron que sus personajes interactuaran.
    Esta historia presentó el tipo de momentos que los fans anhelaban como por
    ejemplo cuando Superman empuñó a Mjolnir y el escudo del Capitán América,
    las 2 versiones «Capitán Marvel» apareciendo a la vez y Batman admitiendo
    que el Capitán América probablemente podría vencerlo en un lucha. Sería algo
    muy grande que Marvel y DC Comics decidieran unirse de nuevo. Pero por ahora
    parece poco probable, aunque al menos dos de sus grandes estrellas estarían
    más que dispuestos.
  </p>
</div>
<img src="assets/img/AboutHeroes.jpg" alt="NO se ve :(" id="fotoabout" />
<div id="fondo"></div>
</div>
