a.nav-link {
    text-align: center !important;
}

.form-inline{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}