/* You can add global styles to this file, and also import other style files */
html {
    font-size: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }