@media only screen and (max-width: 320px) {
  .card-columns {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 321px) and (max-width: 640px) {
  .card-columns {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 647px) and (max-width: 965px) {
  .card-columns {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 968px) and (max-width: 1290px) {
  .card-columns {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (min-width: 1287px) and (max-width: 1605px) {
  .card-columns {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
@media only screen and (min-width: 1601px) {
  .card-columns {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
  }
}

.card  {
  background: ghostwhite;
  text-align: center;
  margin: 40px auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px 4px rgb(19 35 47 / 30%);
  width: 80%;
  background-image: url(../../assets/img/fondito.jpg) !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  color: whitesmoke;
  font-size: 1.5em;
  text-shadow: 1.5px 3px black;
}

.card-columns {
  text-align: center;
}

.text-muted{
  color: black !important;
  
  text-shadow: 2px 3px whitesmoke;
}

.btn-danger{
  text-shadow: 0px 0px black;
}