<div class="jumbotron  " style="background-color: ghostwhite;">
    <h1 class="display-4">Todo Comics</h1>
    <p class="lead">Recopilacion de Heroes de DC y Marvel con Informacion sobre ellos :)</p>
    <hr class="my-4">
    <p>Para Recibir noticias sobre comics Clikea el boton :)</p>
    <a class="btn btn-danger btn-lg" href="#" data-toggle="modal" data-target="#exampleModal" role="button">Registrarse!!!</a>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" name="name" id="name" [(ngModel)]="nombre">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Sexo:</label>
                        <select name="genero" class="form-control" id="genero" [(ngModel)]="sexo">
                          <option selected value="Masculino">Masculino</option>
                          <option value="Femenino">Femenino</option>
                          <option value="Otro">Otro</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" name="email" id="email" [(ngModel)]="correo">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Fecha de nacimiento:</label>
                        <input type="date" class="form-control" name="fecha" id="fecha" [(ngModel)]="fecha">
                    </div>

                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" value="submit" (click)="formularioEnviado()">Registrarse</button>
                </div>
            </div>
        </div>
    </div>